<mat-drawer-container class="autosize_container example-container" autosize>
  <mat-drawer #drawer [opened]="true" class="sidenav" mode="side">

    <div class="logo_container"> Platz für Logo</div>
    <ul>
      <li [routerLink]="['/dashboard']"><mat-icon>space_dashboard</mat-icon>Dashboard</li>
      <li routerLink="/user"><mat-icon>account_circle</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <mat-icon class="icon_container" (click)="drawer.toggle()">
          <span class="material-icons">
            menu
          </span>
        </mat-icon>
        <span>Simple CRM</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="router_container">
   
      <router-outlet></router-outlet>
    </div>

  </div>
</mat-drawer-container>